.app {
  background-color: #def6e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 20px 30px;
  position: relative;
  gap: 20px;
}

.header-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.white-box {
  background-color: white;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  border-radius: 8px;
  display: flex;
  padding: 40px 40px 20px;
  gap: 20px;
  flex-wrap: wrap;
  overflow-y: auto;
}

.title {
  font-weight: bold;
  font-size: 36px;
}

.button-add {
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2fcc71;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
}

.card {
  width: 350px;
  height: 70px;
  gap: 10px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  border: 2px solid #dae8e6;
  font-size: 14px;
  word-wrap: break-word;
  align-items: center;
  align-content: stretch;
}

input {
  border: 1px solid white;
  padding: 15px 15px;
  font-family: "inter";
}

input:focus {
  outline: 2px solid #2fcc71;
  font-family: "inter";
}

.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-search {
  height: 35px;
  border-radius: 16px;
}

.button-search {
  height: 35px;
  width: 35px;
  border: 0;
  border-radius: 100%;
  background-color: #2fcc71;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-delete {
  height: 35px;
  width: 35px;
  border: 0;
  border-radius: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.task-side-box {
  height: 70px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-body {
  flex-grow: 1;
}

.checked-box {
  height: 25px;
  width: 25px;
  border: 2px solid #2fcc71;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checked {
  background-color: #2fcc71;
}
